/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/*****Header*****/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteneur-logo {
    display: flex;
    padding: 30px 50px 30px 0px;
}

header img {
    width: 61.09px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

nav a {
    padding-top: 16px;
}

.boutton-activités,
.boutton-hébergements {
    border-top: solid 2px transparent;
}

.boutton-activités:hover,
.boutton-hébergements:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

/*****Info-groupe*****/

.info-groupe {
    display: flex;
    flex-direction: column;
}

.info-groupe h1 {
    margin-top: 30px;
    margin-bottom: 8px;
}

.sous-titre-info {
    margin-top: 0px;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    border-radius: 15px;

}

.fa-location-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #000000;
    font-size: 18px;
    padding: 15px 18px 16px 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input {
    border: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #F2F2F2;
}

::placeholder {
    text-align: center;
    font-weight: bold;
    opacity: 1;
    color: #000000;
    font-size: 18px;
}

.form-mobile {
    display: none;
}

.form-desktop {
    display: inline;
    color: #FFFFFF;
    width: 132px;
    font-size: 18px;
    font-weight: bold;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: 1px;
    border-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 14px 16px 14px 16px;
}

.conteneur-filtre {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.conteneur-filtre h2 {
    font-size: 22px;
    font-weight: 700;
    margin-right: 14.5px;
}

.filtres {
    display: flex;
}

.filtres a {
    display: flex;
    align-items: center;
    border: solid;
    border-color: #D9D9D9;
    border-width: 2px;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 15px;
}

.filtres :hover {
    background-color: #DEEBFF;
    border-radius: 25px;
}

.conteneur-filtre i {
    display: flex;
    padding: 14px 0px 14px 19px;
    font-size: 22px;
}

.conteneur-filtre span {
    padding: 15px 19px 15px 10px;
}

.conteneur-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    border: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    padding: 4px 8px;
    border-radius: 20px;
    color: #0065FC;
    font-size: 11px;
}

.text-info {
    font-size: 16px;
    margin: 0px 0px 0px 10px;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.title-hebergements {
    margin: 0px 0px 30px;
}

.cards-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 30px;
    width: 100%;
}

.cards-hebergements .card {
    display: flex;
    flex-direction: column;
    min-width: 240px;
}

.cards-hebergements img {
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cards-hebergements .card-content {
    padding-left: 10px;
}

.cards-hebergements h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cards-hebergements p {
    margin: 0px 0px 8px 0px;
}

.cards-hebergements .card-rating {
    margin-bottom: 10px;
}

.Afficher-plus {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 126px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********Activités*********/
.section-activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.section-activites h2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;

}

.cards-activites {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.card-activites {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activites img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    max-width: 297.5px;
    height: 100%;
}

.card-activites h3 {
    margin: 20px 19px 20px 19px;
    font-size: 16px;
    font-weight: 700;
}

/**********Footer*******/

footer {
    display: flex;
    justify-content: start;
    background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    
    margin: 0px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768.98px) {
    header {
        flex-direction: column;
    }

    .conteneur-logo {
        justify-content: center;
        padding: 30px;
    }

    nav {
        gap: 0;
    }


    .main-container {
        padding: 0;
        width: 100%;
        gap: 35px;
    }

    .boutton-activités,
    .boutton-hébergements {
        padding-bottom: 16px;
        padding-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top-width: 0px;
        border-bottom: 2px solid #F2F2F2;
    }

    .boutton-activités:hover,
    .boutton-hébergements:hover {
        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    .info-groupe {
        padding: 0px 20px 0px 20px;
    }

    .form-desktop {
        display: none;
    }

    .form-mobile {
        display: inline;
    }

    form {
        justify-content: space-between;
        border: solid;
        border-width: 1px;
        border-color: #F2F2F2;
    }

    input {
        border: none;
        width: 100%;
        margin-left: 24px;
        ;
    }

    ::placeholder {
        text-align: left;
    }


    button {
        border-radius: 15px;
    }

    .fa-magnifying-glass {
        color: #FFFFFF;
        font-size: 17px;
    }

    .conteneur-filtre {
        flex-direction: column;
    }

    .conteneur-filtre h2 {
        margin: 0px;
    }

    .conteneur-filtre span {
        padding: 0;
    }

    .filtres {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filtres a {
        max-width: 162.5px;
        gap: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .conteneur-filtre h2 {
        align-self: flex-start;
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;

    }

    .hebergements-and-populaires section {
        border-radius: 0%;

    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: auto;
    }

    .populaires {
        margin-top: 0;

    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .cards-hebergements {
        justify-content: center;

    }

    .cards-hebergements a {
        min-width: 320px;
    }

    .section-activites {
        padding: 0px 30px 0px 30px;
    }

    .section-activites h2 {
        margin-top: 0;
    }

    .cards-activites {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 65px;
    }

    .cards-activites img {
        max-height: 141px;
        max-width: 100%;

    }

    footer {
        flex-direction: column;
    }
}

/* ... */